/*  reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* impostazioni generali stile */
body {
    font-family: 'Roboto', sans-serif;
}

ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}

a {
    color: #b1b1b1;
}

img {
    width: 100%;
}
/* fine impostazioni generali stile */

/* clearfix, non usato... per ora */
.clearfix::after {
    clear: both;
    content: '';
    display: table;
}

/* main code app  */
.wrapper {
    height: 100vh;
    background: linear-gradient(180deg, #009688 15%, #d8dbd5 15%);
}
.wrapper-app {
    display: flex;
    width: 90%;
    height: 100%;
    min-width: 900px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

/* barra laterale a sinistra con i contatti */
.sidebar {
    width: 350px;
    height: 95vh;
    float: left;
}
/* sezione header della sidebar */
.sidebar > .header {
    height: 70px;
    background-color: #eaeaea;
    border-right: 1px solid #d6d6d6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 0 10px;
}
/* sezione notifiche azzurra */
.sidebar > .advise {
    background-color: #8edafc;
    color: #2b424c;
    height: 90px;
    display: flex;
    align-items: center;
    padding: 20px;
}
/* icona campanellina */
.bell {
    color: #8edafc;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* i link sezione notifiche */
.advise a {
    color: #4f7485;
    font-size: 13px;
}
/* div che racchiude testi nella sezione notifiche */
.text {
    margin-left: 10px;
    font-size: 15px;
}
/* search bar */
.sidebar > .search {
    background-color: #fafafa;
    height: 60px;
    padding: 15px;
}
.search i {
    color: #b6b9bb;
    font-size: 18px;
    vertical-align: middle;
    margin-left: 10px;
}
.search span {
    font-size: 14px;
    color: #757575;
    margin-left: 10px;
}
.sidebar img {
    width: 50px;
    border-radius: 100%;
}

.sidebar li:last-child {
    margin: 0;
}
/* search */
.search i {
    vertical-align: top;
}
.search .campo-search {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    width: 320px;
    height: 30px;
}
.search .campo-search input {
    height: 100%;
    width: 100%;
    border: none;
    margin-left: 10px;
}
/* i contatti! */
.sidebar .contacts {
    height: calc(95vh - 220px);
    background-color: grey;
    /* non mette la barra se non devi scrollare */
    overflow-y: auto; 
    font-size: 15px;
    color: #000;
}

.sidebar .contacts .wrapper-contacts {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #e9ebeb;
}
.sidebar .contacts .wrapper-contacts.active {
    background-color: #7e837c;
}

.contacts-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 10px;
}

.ot-color {
    color: #bcbfc1;
}

/* main content */
.content {
    width: calc(100% - 350px);
    height: 95vh;
    float: left;
}
/* main header */
.content > .header {
    height: 70px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
/* TODO: questa sezione ho scritto velocemente */

.content i {
    font-size: 20px;
}

.text-small {
    font-size: 14px;
}
/* TODO: da rivedere perchè scritta velocemente e buttata là */

.content .header img {
    width: 50px;
    border-radius: 100%;
}

.content .text-header {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 20px;
}
/* la chat */
.content .chat {
    height: calc(95vh - 140px);
    background-image: url(../img/wallpaper.jpg);
    /* anche questa barra dovrà scrollare  */
    overflow-y: auto;
    display: none;
}

.content .chat.active {
    display: block;
}
/* barra in basso con invio messaggi */
.content .message {
    height: 70px;
    background-color:#f3eeea;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content .message i {
    font-size: 22px;
    color: #757575;
}

.content .message .area-message {
    width: calc(100% - 200px);
    height: 60%;
    color: #757575;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.content .message .area-message input {
    width: 100%;
    padding: 13px;
    border: none;
}
/* fine area invio messaggi in basso */

.content .template {
    display: none;
    position: relative;
}

.content figure {
    position: relative;
}

.content .quote {
    padding: 20px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: auto;
    width: 250px;
    background-color: #fff;
    color: #000;
    border-radius: 7px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, .1);
    margin-bottom: 10px;
}

.content .quote-input {
    padding: 20px;
    margin-top: 30px;
    margin-right: 30px!important;
    margin-left: auto; 
    width: 250px;
    background-color: #d5f9d5;
    color: #000;
    margin-right: 0;
    border-radius: 7px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, .1);
    margin-bottom: 10px;
    word-wrap: break-word;
}

.content .quote span,
.content .quote-input span {
    font-size: 12px;
    color: #757575;
    position: relative;
    bottom: 10px;
    left: 190px;
}

.content .fa-chevron-down {
    position: absolute;
    top: 30px;
    font-size: 20px;
    left: 215px;
    display: none;
    color: #757575;
}

.content .quote:hover .fa-chevron-down, .content .quote-input:hover .fa-chevron-down{
    display: block;
}

.content .w-drop {
    position: absolute;
    background-color: #fff;
    width: 150px;
    height: 70px;
    padding: 15px;
    top: 50px;
    right: 15px;
    border-radius: 5px;
    display: none;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, .1);
}

.content .w-drop a {
    font-size: 14px;
    text-decoration: none;
}

.content .w-drop a:hover {
    color: #000;
}

.content .w-drop.open {
    display: block;
}


